@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root{
     --White: hsl(0, 0%, 100%);
     --Light-gray: hsl(212, 45%, 89%);
     --Grayish-blue: hsl(220, 15%, 55%);
     --Dark-blue: hsl(218, 44%, 22%);
     --outfit:'Outfit';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-gray);
}

.main{
    width: 280px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--White);
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(163, 163, 163, 0.637);
}

.card-img{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     border-radius: 10px;
}

.card-img img{
    width: 100%;
    position: relative;
    object-fit: cover;
}
.card-body{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}
.card-body p:first-child{
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
   font-family: 'Kanit', sans-serif;
}
.card-body p:last-child{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
   /* font-family: 'Kanit', sans-serif; */
}